rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function authIsParticipant(chatId) {
      return isSignedIn()
        && exists(/databases/$(database)/documents/chats/$(chatId))
        && request.auth.uid in get(/databases/$(database)/documents/chats/$(chatId)).data.participants;
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }

    match /professionals/{professionalId} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.uid == professionalId;
    }

    match /chats/{chatId} {
      allow read: if authIsParticipant(chatId);

      allow create: if isSignedIn()
        && request.auth.uid in request.resource.data.participants;

      allow update: if authIsParticipant(chatId)
        && request.resource.data.participants == resource.data.participants;
    }

    match /messages/{messageId} {
      allow read: if authIsParticipant(resource.data.chatId);

      allow create: if isSignedIn()
        && request.resource.data.senderId == request.auth.uid
        && authIsParticipant(request.resource.data.chatId);

      allow update: if authIsParticipant(resource.data.chatId)
        && request.resource.data.chatId == resource.data.chatId
        && request.resource.data.senderId == resource.data.senderId;
    }

    match /jobs/{jobId} {
      allow create: if isSignedIn();
      allow read, update: if isSignedIn() && (
        request.auth.uid == resource.data.clientId ||
        request.auth.uid == resource.data.professionalId
      );
    }

    match /transactions/{transactionId} {
      allow read: if isSignedIn() && (
        request.auth.uid == resource.data.clientId ||
        request.auth.uid == resource.data.professionalId
      );
      allow write: if isSignedIn() && request.auth.token.firebase.sign_in_provider == 'custom';
    }
  }
}
